@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

h1 {
    color: rgb(60, 172, 13);
    text-decoration: underline;
}

p {
    font-size: 25px;
    color: rgb(111, 208, 59);
    font-family: 'Trebuchet MS', sans-serif;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

 span {
    color: red;
    font-size: 2rem;
}

/* comment in css*/

/*h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
}    */